* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-clr: rgb(226, 226, 209);
  --text-clr: #000000;
  --primary-clr: #f5f7dc;
  --secondary-clr: #b5d99c;
}

.darkmode {
  --background-clr: rgb(45, 45, 51);
  --text-clr: #fff;
  --primary-clr: #cccdb7;
  --secondary-clr: #8ead78;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-clr);
}

h1 {
  color: var(--text-clr);
  font-size: 4rem;
  margin: 1em 0;
}

.container {
  width: 65vw;
  margin: 0 auto;
}

#octocat {
  width: 17rem;
  margin-top: 7rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0 0 4rem rgb(255, 255, 255);
}

.octocat-darkmode {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg)
    brightness(101%) contrast(102%);
}

.friendly-welcome {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.text-bubble {
  height: 12rem;
  background-color: var(--primary-clr);
  color: #774f38;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 2px;
  text-align: center;
  transform: translateY(0px);
  padding: 2.5rem;
  border-radius: 0.7em;
  position: relative;
  box-shadow: 1.3rem 1.3rem var(--secondary-clr);
  animation: float 5s ease-in-out infinite;
}

.text-bubble::after {
  background-color: var(--primary-clr);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 2em;
  text-align: left;
  text-shadow: 1.5em 0.7em var(--secondary-clr);
  -webkit-text-fill-color: var(--primary-clr);
  transform: translateY(0px);
  content: ".";
  width: 3.2rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  position: absolute;
  display: block;
  bottom: -1.2rem;
  right: 0;
  box-shadow: 1.5rem 1.5rem var(--secondary-clr);
  z-index: -1;
  animation: float2 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 1.8rem;
    transform: translateY(0px);
  }
  55% {
    transform: translateY(-10%);
  }
  60% {
    line-height: 0.6rem;
  }
  100% {
    line-height: 1.8rem;
    transform: translateY(0px);
  }
}

/* Theme toggle botton design */

#theme-toggle {
  width: 5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  /* transition: filter 0.3s ease; */
}

/* #theme-toggle:hover {
  filter: invert(100%) sepia(70%) saturate(7500%) hue-rotate(356deg)
    brightness(103%) contrast(111%);
} */

.topics {
  margin: 4rem 0;
}

.warning {
  background-color: rgba(218, 218, 113, 0.5);
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem 1.5rem;
  margin: 4rem 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2rem 2.5rem;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: filter 0.2s;
}
.btn:hover {
  filter: brightness(110%);
}

.firstBtn {
  background-color: var(--primary-clr);
}

.secondBtn {
  background-color: var(--secondary-clr);
}
